<launch>

    <node pkg="long_pid" type="long_pid" name="longitudinal_pid" output="screen">
        <rosparam file="$(find long_pid)/params/long.yaml" subst_value="True"/>
    </node>

    <rosparam param="mission" ns="longitudinal_pid">1</rosparam>
    <rosparam param="TROflag" ns="longitudinal_pid">true</rosparam>

    <node name="dyn_recfg_load_pid" pkg="dynamic_reconfigure" type="dynparam" 
          args="load /longitudinal_pid $(find long_pid)/params/dyn_trackdrive.yaml" />

</launch>